.scroll-area {
	height: 100%;
	width: 100%
	position: relative;
	overflow: auto;
}

.thumbnail {
	width: 250px;
	height: 400px;
	overflow: auto;
}

.thumbnail img {
	width: 250px;
	height: 200px;
}


.scrollup {
	margin-right: 25px;
}

.link {
	cursor: pointer;
}

#carousel {
	margin-top: -20px;
}

.home-container {
	overflow: hidden;
}

.no-background {
	background-image: none !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.left-area, .right-area {
	width: 50%;
	height: 100%;
	padding: 0 10px 0 10px;
}

.left-area {
	text-align: justify;
}

.btn-home {
	margin-top: 30px;
	margin-left: 20%;
	width: 150px;
}

.btn-message {
	
}

#chat {
	width: 70%;
	margin: auto;
}

	#chat .btn-message {
		margin: auto;
	}
	
.chat-body {
	width: 60%;
	margin: auto;
	margin-top: 30px;
}

	.chat-body .panel-body {
		padding: 15px 15px 0px 15px;
	}
	
.alert-no-margin {
	margin-bottom: 0px !important;
}

.message-footer {
	margin-top: 20px;
}

.user-nav {
	margin-left: -30px !important;
}

.user-ads, .user-bookmarks {
	margin-right: -90px !important;
	height: 620px !important;
	margin-bottom: -125px !important;
}

.user-messages {
	margin-right: -90px !important;
	height: 510px !important;
	margin-bottom: -75px !important;
}

.profile-ads {
	height: 400px !important;
}

.p-ads {
	width: 70% !important;
	margin-top: 30px !important;
}

.user-detail {
	width: 30% !important;
}

.user-alerts {
	border: none;
}

.alert-remove {
	margin-left: 50px;
}

.section {
	margin-top: 60px;
	margin-bottom: 20px;
}

.p-about {
	margin-top: 30px;
}

#title, .register-input, .alert-input {
	width: 442px !important;
}

#msgsent {
	margin-right: 140px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-login {
	margin-bottom: 10px !important;
}